html {
    scroll-behavior: smooth;
  }



.window {
    border-radius: 30px;
    padding: 10px;
    max-height: fit-content;
    width: 250px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5vh;
    text-align: center;
    background-color: #353535;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Droid Sans Mono', 'monospace', monospace;
    color: 	#4EC9B0;
}

.projectname {
    position: relative;
    transition: all 0.2s ease-in-out;
    font-size: 150%;
    color: #DCDCAA; 
    font-weight: 600;
    text-decoration: none;
    font-family: 'Droid Sans Mono', 'monospace', monospace;
}

.projectname:hover {
    opacity: 0.3;
}

.project {
    width: auto;
    max-height: 50px;
    padding: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    text-align: center;
}



.project:hover {
    max-height: 350px;
}

.project:hover .description {
    visibility: visible;
}

.project:hover .projectname {
    opacity: 0.3;
    font-size: 1.9rem;
    margin: auto;
}

.description { 
    font-size: 150%;
    color: 	#CE9178; 
    font-weight: 600;
    font-family: 'Droid Sans Mono', 'monospace', monospace;
    transition: all 0.2s ease-in-out;
    visibility: collapse;
}

.skillname {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Droid Sans Mono', 'monospace', monospace;
    color: #CCCCCC;
}

.discordfield {
    transition: all ease-in-out 0.1s;
    background-color: #353535;
    height: 42px;
    border-radius: 20px; 
    padding: 5px;
}

.discordfield:hover {
    transform: scale(1.1);
}

.consoleblinker {
    animation: consoleblink  1s ease-in-out infinite;
}

@keyframes consoleblink {
    50% {
        opacity: 0%;
    }
}

.talkwithme {
    text-decoration: none;
}
