#bar {
    border-radius:  40px 40px 0 0;
    height: 11.5%;
    width: 100%;
    background-color: white;
    bottom: 0px;
    position: fixed;
}

#barbuttons {
    height: 100%;
    display: flex;
    align-items: flex-start;
    width: 85%;
    margin-left: 7.5%;

}

#shopbutton {
    flex: 1;
}

#items {
    overflow-y: scroll;
    height: 88.5vh;
}

html {
    scroll-behavior: smooth;
  }
